.container4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 180px;
  
  /* margin: 60px auto; */
  gap: 60px; 
}


.left4 {
  flex: 1;
  height: 320px; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.right4 {
  flex: 1;
}
.tage4 {
  color: #555;
  font-weight: bold;
  margin-bottom: 10px;
}

.title4 {
  font-size: 32px;
  margin-bottom: 15px;
}

.desc4 {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 420px;
}


.buttons4 {
  padding: 10px 20px;
  border: none;
  background: #00bcd4;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.buttons4:hover {
  background: #0097a7;
}